@model e_Commerce.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
            </ul>
        </div>

        <div class="well well-small alert alert-warning cntr">
            <h2>50% Discount</h2>
            <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
            </p>
        </div>
        <div class="well well-small"><a href="#"><img src="/Site/shop-cart/assets/img/paypal.jpg" alt="payment method paypal"></a></div>

        <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
        <br>
        <br>
        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Home</a> <span class="divider">/</span></li>
            <li class="active">Change Password</li>
        </ul>
        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <h3>Your Personal Details</h3>
                @Html.AntiForgeryToken()
              
                <div class="control-group">
                    <label class="control-label" for="inputFname">Old Password : <sup>*</sup></label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputFname">New Paswword : <sup>*</sup></label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputFname">Conf New Password <sup>*</sup></label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.ConfNewPassword, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                            @Html.ValidationMessageFor(model => model.ConfNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Save" class="exclusive shopBtn">
                    </div>
                </div>

            }

        </div>




    </div>
</div>


